{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/css/login_form.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <h1>LOGIN</h1>
        <form id="login-form">
            {% csrf_token %}
            <div id="form-errors"></div>
            <div class="input-group">
                <label for="id_email">Email:</label>
                <input type="email" placeholder="your@gmail.com" name="email" id="id_email" required>
            </div>
            <div class="input-group">
                <label for="id_password">Password:</label>
                <input type="password" placeholder="••••••••" name="password" id="id_password" required>
            </div>
            <button type="submit" id="submit-btn">SIGN IN</button>
        </form>
        <div class="footer">
            Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
        </div>
    </div>
    <script src="{% static 'users/js/auth.js' %}"></script>
</body>
</html>